<div class="container-fluid anchor p-standard" id="shop">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="shop-header"
          <h1>Watches for Sale</h1>
        </div>
      </div>
    </div>
<!-- Work Header End -->
  <a class="shop-img"></a>
  <span class="info"></span>

     <div class=”row”>
      <div class="col-md-3 col-xs-6">
        <div class="items">
            <%= image_tag("watchone.jpg", class: "img-responsive my-image") %>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="items">
            <%= image_tag("watchtwo.jpg", class: "img-responsive my-image") %>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="items">
            <%= image_tag("watchthree.jpg", class: "img-responsive my-image") %>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="items">
            <%= image_tag("watchfour.jpg", class: "img-responsive my-image") %>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="items">
            <%= image_tag("watchfive.jpg", class: "img-responsive my-image") %>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="items">
            <%= image_tag("watchsix.jpg", class: "img-responsive my-image") %>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="items">
            <%= image_tag("watchseven.jpg", class: "img-responsive my-image") %>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="items">
            <%= image_tag("watcheight.jpg", class: "img-responsive my-image") %>
        </div>
      </div>

    </div>

  </div> <!-- End WORK Section -->
